.vertical-tabs {
  display: none;
}

.description {
  display: none;
}

h4 {
	display: inline;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

label {
  display: inline-block;
  width: 50px;
  font-size: 10px;
}

input {
  width: 160px;
}

.form-item-field-project-0-target-id {
  display: none;	
}

.form-item-field-issue-uuid-0-value {
  display: none;  
}